* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background: #E6ECF0;
 font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0px auto;

}

input {
	outline: 0;
}

button {
	outline: 0;
}

/*HOME*/ 

nav{
	list-style-type: none;
}
a{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}

a:hover{
	opacity: 1;
}
header {
	background-color: white;
	width: 100%;
	margin-top:0;
	left: 0;
	padding: -1px 10px;
	font-size: 100%;
	

}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

ul  {
	display: flex;
	margin:10px;
}


ul li {
	display: flex;
	padding: 10px;
	text-decoration: none;

	
}

.button {
	border-radius: 14px;
	padding: 8px 20px;
	font-size: 100%;
	cursor: pointer;
	background-color: #6cd7fa;
	color: white;
	border:none;

}

ul li a {
	display: flex;
	color: gray;
	font-size: 15px;
	align-items: center;
}

ul li a img {
	margin-right: 5px;
	width: 15;
	height: 15;
}

.avatar {
	border-radius: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

/*.search {
	border-radius: 16px;
	padding: 8px 40px;
	margin-top: 0;
}

.search::after {
	content: 'teste';
	width: 50px;
	height: 50px;
	background: green;
}*/

/*.lupa {
	padding: 2px 2px;
	border: none;

}*/


header .side .search {
	width: 220px;
	background: #f5f8fa;
	border: solid 1px #E6ECF0;
	height: 34px;
	padding: 0 30px 0 12px;			
    border-radius: 16px;
    color: #667581;
    font-size: 12px;
    font-weight: bold;
    background: url('assets/search.svg') no-repeat 190px center;

}

header .logo {
	background: red;
}


header .side  {
	display: flex;
	align-items: center;

}

/* BANNER*/

.banner {
	background: #6cd7fa;
	height: 360px;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

/*MENU CENTER*/

.menu-center {
	display: flex;
	justify-content: space-between;
	background: white;
	height: 80px;

}

.avatar-left {
	display: flex;
	border-radius: 100px;
	border: solid 6px white;
}



header .cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	max-width: 1100px;
	margin: 0px auto;
}

.button2 {
	border-radius: 14px;
	padding: 8px 20px;
	font-size: 100%;
	cursor: pointer;
	background-color: white;
	color: #6cd7fa;
	border-color: #6cd7fa;
	font-weight: bold;
	margin-right: 15px;
}

.cont nav ul {
	font-weight: bold;
	

}

.menu-right {
	display: flex;
	align-items: center;
}

.menu-nav {
	padding-right: 350px;
	text-align:center;
	
}
 
/*SIDE BAR*/

.sideleft {
	max-width: 1100px;
	margin: 0 auto;

}

.left {
	/*border:solid 2px red;*/
	width: 250px;
	height: 800px;
}

.nick {
	padding: 0px 0px 4px 0px;
	text-align: left;
	display: flex;
	flex-wrap: nowrap;

}

.picture {
	padding-right: 8px;
	align-items: center;
}


.color {
	color: gray;
}


.color2{
	padding: 0px 0px 4px 0px;
	text-align: left;
	display: flex;
	flex-wrap: nowrap;
	color: gray;
}


.nick2{
	padding: 0px 0px 4px 0px;
	display: flex;
	align-items: center;


}

.followers {
border: solid  2px gray;
width: 75px;
height: 75px;
display: flex;
margin-top: 5px;
border-radius: 8px;
background: gray;
}


.followers2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}


.followers3 {
	color: #6cd7fa;
}


