/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

input,
button {
  outline: 0;
}

/* HEADER */
header {
  background-color: #fff;
  width: 100%;
  padding: 1px 10px;
  box-shadow: 5px 1px 2px #888;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header .container .menu {
  display: flex;
}

header .container .menu .menu-item {
  display: flex;
  margin: 0 15px;
  text-decoration: none;
}

header .container .menu .menu-item .menu-link {
  display: flex;
  color: #888;
  font-size: 15px;
  align-items: center;
  text-decoration: none;
  padding: 15px 0;
  cursor: pointer;
}

header .container .menu .menu-item:hover .menu-link {
  color: #00acee;
}

header .container .menu .menu-item .menu-link.active {
  color: #00acee;
}

header .container .menu .menu-item .menu-link .picture {
  margin-right: 8px;
}

header .container .logo {
  width: 15;
  height: 15;
}

header .container .side-search {
  display: flex;
  align-items: center;
}

header .container .side-search .search {
  width: 220px;
  background: #f5f8fa;
  border: solid 1px #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  font-weight: bold;
  background: url("assets/search.svg") no-repeat 190px center;
}

header .container .side-search .avatar {
  border-radius: 40px;
  margin-right: 10px;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

header .container .side-search .button {
  border-radius: 14px;
  padding: 8px 20px;
  font-size: 100%;
  cursor: pointer;
  background-color: #00acee;
  color: #fff;
  border: none;
  font-weight: bold;
}

header .container .side-search .button:hover {
  background-color: #00abeeb4;
  color: rgba(255, 255, 255, 0.808);
}

/* BANNER*/

.banner {
  background: #00acee;
  color: white;
  height: 360px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 1px rgb(0, 0, 0);
  color: white;
  box-shadow: 0px -1px 20px -10px rgb(119, 118, 118);
  box-direction: top;
}

/* NAV */

nav .center {
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-around;
  box-shadow: -2px 5px 20px -10px rgb(119, 118, 118);
}

nav .center .settings-all {
  display: flex;
  justify-content: space-between;
  left: 344px;
  width: 826px;
  align-items: center;
  margin-left: 269px;
}

nav .center .settings-all .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  list-style: none;
}

nav .center .settings-all .item .link {
  margin-right: 25px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}

nav .center .settings-all .item .link .active {
  font-size: 17px;
  color: #00acee;
  position: relative;
}

nav .center .settings-all .item .link .active:hover {
  color: #00abeeb4;
}

nav .center .settings-all .item .link .active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -11px;
  left: 0;
  background: #00ace0;
  font-size: 17px;
}

nav .center .settings-all .item .link .text {
  text-decoration: none;
  font-size: 11px;
  color: #667581;
  font-weight: bold;
}

nav .center .settings-all .item .link .text:hover {
  color: #667581c0;
}

nav .center .settings-all .item .link .text .number {
  font-size: 17px;
  font-weight: bold;
  color: #667581;
}

nav .center .settings-all .item .link .text .number:hover {
  color: #00acee;
}

nav .center .settings-all .menu-settings {
  display: flex;
  align-items: center;
}

nav .center .settings-all .menu-settings .follow-btn {
  border-radius: 18px;
  padding: 8px 20px;
  font-size: 100%;
  cursor: pointer;
  background-color: #fff;
  color: #00acee;
  border-color: #00acee;
  font-weight: bold;
  margin-right: 15px;
}

nav .center .settings-all .menu-settings .follow-btn:hover {
  color: #00abeeb4;
  border-color: #00abeeb4;
}

/*

.cont nav ul {
  font-weight: bold;
}

.menu-nav {
  padding-right: 350px;
  text-align: center;
}

/*SIDE BAR*/

.left {
  margin-top: 85px;
  width: 250px;
}
.avatar-left {
  display: flex;
  border-radius: 100px;
  border: solid 6px white;
}

.nick {
  padding: 0px 0px 4px 0px;
}

.color {
  color: gray;
}

.color2 {
  padding: 0px 0px 4px 0px;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  color: gray;
}

/* PHOTO AND VIDEOS */
.nick2 {
  padding: 0px 0px 4px 0px;
  display: flex;
  align-items: center;
}

.photo {
  border: solid 2px #b3b3b3;
  width: 75px;
  height: 75px;
  display: flex;
  margin-top: 15px;
  border-radius: 8px;
  background: #b3b3b3;
}

.photo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo3 {
  color: #00acee;
}

/*FOLLOWERS*/

.followers {
  border: solid 2px #b3b3b3;
  width: 45px;
  height: 45px;
  display: flex;
  margin-top: 15px;
  border-radius: 40px;
  background: #b3b3b3;
}

.followers2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.followers3 {
  color: #00acee;
}

/*FEED*/

.center {
  display: flex;
}

.feed {
  width: 500px;
  margin: 0 auto;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: white;
  font-weight: bold;
  margin-left: 20px;
}

.divpai {
  width: 500px;
  background: white;
  display: flex;
  margin-top: 3px;
  height: 100%;
}

.divpai2 {
}

.divpai3 {
  margin-left: 20px;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 5px;
}

.font {
  font-weight: bold;
  font-size: 16px;
}

.font2 {
  color: gray;
  font-size: 14px;
  padding-left: 5px;
}

.title2 {
  padding-top: 5px;
  font-size: 15px;
  padding-left: 5px;
}

.title3 {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  font-size: 12px;
  align-items: center;
}

.subtitle3 {
  padding-right: 45px;
  padding-left: 5px;
}

.avatarfeed {
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

/*SIDE BAR DIREITA*/

.sidebarinicio {
  display: flex;
  align-items: center;
}

.titlesidebarinicio {
  padding-left: 5px;
  color: #00acee;
  font-size: 12px;
}

/*refres view all blue*/

.sidebar3 {
  width: 300px;
  height: 280px;
  background-color: white;
  margin-left: 20px;
  margin-top: 3px;
  padding-left: 15px;
  padding-top: 10px;
}

.av3 {
  display: flex;
  padding-top: 2px;
}

.nome.follow {
  padding-top: 50px;
}

.button3 {
  border-radius: 16px;
  padding: 4px 20px;
  font-size: 100%;
  cursor: pointer;
  background-color: white;
  color: #00acee;
  border-color: #00acee;
  font-weight: bold;
  margin-right: 15px;
}

.id {
  display: flex;
  align-items: center;
}

.id4 {
  padding-top: 6px;
  padding-left: 5px;
}

.button33 {
  padding-top: 10px;
  padding-left: 5px;
}

.bb-profile {
  border-bottom: solid 1px rgba(128, 128, 128, 0.377);
  padding-bottom: 15px;
}

.name4 {
  apadding-right: 7px;
  font-size: 14px;
}

.name5 {
  color: gray;
  font-size: 12px;
}
